
.demo div {
    float: left;
    clear: none;
    font-family: fantasy;
    color: rgb(235, 220, 93);
    text-align: center;
    align-content: center;
    font-size: 64pt;
}
h1 {
    background-image: url("22.png");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: fantasy;
    text-align: center;
    font-size: 200pt;
    font-weight: 900;
}
body {
    background-color: black;
}