/* setup */
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: matt;
    color: rgba(255, 255, 255);
    text-align: center;
    
  }
  p {
    font-family: matt;
    color: rgb(255, 255, 255);
    text-align: center;

  }
  body {
    background-image:url(images/dirt.jpg);
    background-size:100%;
    
    background-attachment: scroll;
    height:100%;
    width:100%;
}
  
  @font-face {
      font-family: matt;
      src: url(fonts/MattireDemo.otf);
  }
@font-face {
    font-family: karl;
    src: url(fonts/karltown.zip);
}
    @font-face {
        font-family: suika;
        src: url(fonts/Suika-DEMO.otf);
    }
    @font-face {
        font-family: etnyca;
        src: url(fonts/etnyca-font.zip);
    }
    @font-face {
        font-family: magic;
        src: url(fonts/magic-romance.ttf);
    }
    @font-face {
        font-family: master;
        src: url(fonts/Masterday.otf);
    }


  
   
        
    
  
  
  h1 {
    margin: 0;
    margin-bottom: 50px;
    line-height: 1;
    letter-spacing: 0.05rem;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
     
  .mushroom-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
  
  .mushroom {
     width: 200px;
    padding: 10px;
    border-radius: 2px;
    position: relative;
  }
  
  
  
  .top-mushroom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
  }
  
  .mushroom h3,
  .mushroom h4,
  .mushroom h5 {
    margin: 0;
  }
  
  .mushroom h4 {
    font-weight: 400;
    margin: 0 0 10px 0;
  }
  .mushroom h5 {
    color: rgb(255, 255, 255);
  }
  
  .mushroom img {
    width: 100%;
    height: 160px;
    object-fit: fill;
    object-position: top left;
  }