body {
    background-image:url(images/growing-mushrooms-timelapse-3.gif);
    background-size:100%;
    overflow: hidden;
    background-attachment: scroll;
    height:100%;
    width:100%;
    font-family: Qaligo;
    color: rgb(255, 255, 255);
    text-align: center;
}
  
.nav{
  display: flex;
font-family: Qaligo;
font-size: 0.8em;
padding: 3em;
align-items: right;
justify-content: right;
}


.container{
  background-color: white;
    
}

.title{
  padding-top: 15%;
}
  @font-face {
      font-family: Qaligo;
      src: url(fonts/Qaligo.ttf);
  }
  h1 {
      font-family: Qaligo;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 5em  ;
      text-shadow: 2px 2px black;
      text-decoration-color: white;
  }

  

 h2 {
   font-family: Qaligo;
    font-size: 30px;
      }
  




      a{
          font-size: 1em;


        }
      /* unvisited link */
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: underline;

  }
  
  p {
    font-family: matt;
    color: rgb(255, 255, 255);
    text-align: center;

  }

.button1{
  height: 1em;
  width: 5em;
  background-color: none;
  border: white 1px;
}

