body {
    background-image:url(images/growing-mushrooms-timelapse-3.gif);
    background-size:100%;
    
    background-attachment: scroll;
    height:100%;
    width:100%;
    font-family: matt;
    color: rgb(255, 255, 255);
    text-align: center;
}
  
  @font-face {
      font-family: matt;
      src: url(fonts/MattireDemo.otf);
  }
  h1 {
      padding-top: 25px;
      font-family: matt;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 40px;}

 h2 {
    font-size: 30px;
      }
  



      a{
          font-size: 40px;
      }
      /* unvisited link */
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 0, 0);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(253, 0, 0);
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: rgb(170, 4, 4);
    text-decoration: underline;
  }
  
  p {
    font-family: matt;
    color: rgb(255, 255, 255);
    text-align: center;

  }

 