/* setup */
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: migaela;
    color: rgba(255, 255, 255, 0.921);
    text-align: center;
    
  }
  p {
    font-family: migaela;
    color: rgb(255, 255, 255);
    text-align: center;

  }
  body {
    background-image:url(images/b7c09495dff189f450e0466b0dfb2a22.jpg);
    background-size:100%;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
@font-face {
  font-family: migaela;
  src: url(fonts/Migaela\ RUS.otf);
}  


  @font-face {
      font-family: margic;
      src: url(fonts/margic-magic-of-typeface.zip);
  }
@font-face {
    font-family: karl;
    src: url(fonts/karltown.zip);
}
    @font-face {
        font-family: suika;
        src: url(fonts/Suika-DEMO.otf);
    }
    @font-face {
        font-family: etnyca;
        src: url(fonts/etnyca-font.zip);
    }
    @font-face {
        font-family: magic;
        src: url(fonts/magic-romance.ttf);
    }
    @font-face {
        font-family: master;
        src: url(fonts/Masterday.otf);
    }


  
   
        
    
  
  
  h1 {
    margin: 0;
    margin-bottom: 50px;
    line-height: 1;
    letter-spacing: -0.025rem;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  
  .container {
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
  }
  
  .mushroom-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
  
  .mushroom {
    border: 1px solid #e7e7e7;
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 45%, 0.3);
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    position: relative;
  }
  
  .top-mushroom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
  }
  
  .msuhroom h3,
  .mushroom h4,
  .mushroom h5 {
    margin: 0;
  }
  
  .mushroom h4 {
    font-weight: 400;
    margin: 0 0 10px 0;
  }
  .mushroom h5 {
    color: rgb(255, 255, 255);
  }
  
  .mushroom img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top left;
  }